<div class="container">
    <div class="row justify-content-center">

        <h1>Edit Profile</h1>

        <form action="/user/{{_id}}/edit" method="POST" enctype="multipart/form-data">

            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" id="usernameInput" value="{{username}}">
            </div>

            <div class="mb-3">
                <label for="emailInput" class="form-label">Email:</label>
                <input type="email" class="form-control" name="email" id="emailInput" value="{{email}}">
            </div>

            <div class="mb-3">
                <label for="descriptionInput" class="form-label">Description:</label>
                <input type="description" class="form-control" name="description" id="descriptionInput"
                    value="{{description}}">
            </div>

            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar:</label>
                <input type="file" class="form-control" name="avatar" id="avatar" value="{{avatar}}">
            </div>
            <div>
                <button type="submit" class="btn btn-dark">Save changes</button>
            </div>

            {{#if errorMessage}}
            <div id="errorMessage">
                <p>{{errorMessage}}</p>
            </div>
            {{/if}}


        </form>


    </div>
</div>