<div class="container">
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Movie Lovers Recommendations</h2>
        <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
            <div class="col col-lg-3 d-flex flex-column align-items-start gap-2">
                <img class="img-fluid img-thumbnail" src="{{user.avatar}}" alt="{{user.username}}"
                    style="width: 100px; height: 100px; object-fit: cover">
            </div>
            <div class="col">
                <div class="row row-cols-1 row-cols-sm-2 g-4">
                    <div class="col d-flex flex-column gap-2">
                        <h4 class="fw-semibold mb-0">Name:</h4>
                        <p class="text-muted">{{user.username}}</p>
                    </div>

                    <div class="col d-flex flex-column gap-2">
                        <h4 class="fw-semibold mb-0">Description:</h4>
                        <p class="text-muted">{{user.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each movies}}
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" height="100%"
                                src="https://www.themoviedb.org/t/p/w440_and_h660_face{{data.poster_path}}" alt="">
                            <div class="card-body">
                                <h4>{{data.original_title}}</h4>
                                <p class="card-text">{{data.overview}}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href='/movie/{{data.id}}/details'
                                            class="btn btn-sm btn-outline-secondary">View</a>
                                        <form action="/removeFromFav/{{data.id}}" method="POST">
                                            <button type="submit" class="btn btn-sm btn-outline-secondary">Remove from
                                                Recommendations</button>
                                        </form>
                                    </div>
                                    <small class="text-muted">{{data.runtime}} min.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{#if isADMIN}}
    <a href="/user/{{user._id}}/edit" class="btn btn-warning btn-sm">Edit</a>
    <form action="/user/{{user._id}}/delete" method="POST">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
    </form>
    {{/if}}
    <a href="/user/list" class="btn btn-dark">Back to list</a>
</div>