<div class="container">
    <div class="container col-xl-9">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 pt-5">
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{movie.original_title}}</h1>
                <p>{{movie.overview}}</p>
                <hr>
                <p>Genre: {{movie.genres.[0].name}}, {{movie.genres.[1].name}}</p>
                <p>Score: {{movie.vote_average}}</p>
                <p>Runtime: {{movie.runtime}} min</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="https://www.themoviedb.org/t/p/w440_and_h660_face{{movie.poster_path}}"
                    class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
    <section>
        <div class="container my-5 py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="card text-dark">
                        <div class="card-body p-4">
                            <h4 class="mb-0">Recent comments</h4>
                            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>

                            {{#each comments}}
                            <div class="container my-1 py-1">
                                <div class="row">
                                    <div class="col-1">
                                        <div class="d-flex flex-start">
                                            <img class="rounded-circle shadow-1-strong me-3"
                                                style="width: 30px; height: 30px; object-fit: cover" ;
                                                src=" {{_doc.owner.avatar}}" alt="avatar" id="avatar-com" />
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <figure>
                                            <blockquote class="blockquote">
                                                <p>{{_doc.text}}</p>
                                            </blockquote>
                                            <figcaption class="blockquote-footer">
                                                Comment by <cite title="Source Title">{{_doc.owner.username}}</cite>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="col-2">
                                        <div class="position-relative py-10 px-5">
                                            <div>
                                                {{!-- {{#if isDelete}} --}}
                                                <form action="/comments/{{_id}}/delete" method="POST">
                                                    <input type="submit" value="Delete" class="btn btn-dark btn-sm">
                                                    <input type="hidden" name="movie" value={{movie}}>
                                                </form>
                                                {{!-- {{/if}} --}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>

                            {{/each}}

                        </div>
                        </form>
                    </div>

                    <form action='/comments' method="POST">
                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                            <div class="d-flex flex-start w-100">
                                <div class="form-outline w-100">
                                    <label for="text" class="form-label">Write comment:</label>
                                    <textarea class="form-control" id="text" name="text" rows="4"
                                        style="background: #fff;"></textarea>
                                </div>
                            </div>
                            <input type="hidden" name="movie" value={{movie.id}}>
                        </div>
                        <div class="d-grid mt-5">
                            <button type="submit" class="btn btn-dark">Post comment</button>
                        </div>

                    </form>
                </div>
            </div>